body {
    background: #27262c;
    color: #f6f6f6;
    font-family: Helvetica Neue, 
                    Helvetica, 
                    Arial, 
                    sans-serif;
    font-size: 200%;
    margin: 20px 20%;
    padding: 0;
}

header {
    background: #333;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a:link, a:visited {
    text-decoration: none;
    color: darkblue;
}

a:hover, a:active {
    text-decoration: none;
    color: red;
}

/* .body-container {

} */

.links ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0 10px;
}

.links ul li {
    margin: 0 10px;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu {
    padding-right: 10%;
}

.menu ul {
    list-style: none;
}

.blog:hover {
    text-decoration: line-through;
}

.projects:hover, .contact:hover {
    color:aqua;
}

.menu-separator {
    height: 300px;
    width: 1px;
    background: #fff;
}

.content-container {
    padding-left: 10%
}

.current-project-banner {
    background-color: dimgrey;
    font-size: small;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:5px;
}

.current-project-banner p {
    margin-left: 10px;
}

