body {
    background: #27262c;
    color: #f6f6f6;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: #333;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

header .logo button {
    background: none;
    border: none;
    color: #f0f0f0;
    font-size: 1.5em;
    cursor: pointer;
}

header .logo button:hover {
    color: #ff5722;
}

.links ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.links ul li {
    margin-left: 20px;
}

.links ul li img {
    width: 40px;
    transition: transform 0.2s;
}

.links ul li img:hover {
    transform: scale(1.1);
}

main {
    display: flex;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu ul li {
    margin-bottom: 10px;
    cursor: pointer;
    transition: color 0.2s;
}

.menu ul li:hover, .menu ul li.active {
    color: #ff5722;
}

#blog-button:hover {
    text-decoration: line-through;
}

a {
    color:yellowgreen
}

.menu-separator {
    width: 2px;
    background: #444;
    margin: 0 20px;
}

.content-container {
    flex-grow: 1;
    padding: 20px;
    background: #333;
    border-radius: 8px;
}

.content-container h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.content-container p {
    font-size: 1.2em;
    line-height: 1.6;
}

.content {
    display: none;
}

.content.active {
    display: block;
}

.content.message {
    display: inline-block;
}

.message {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

#intro {
    flex: 1;
    padding: 10px;
}

#picture {
    flex: 1;
    padding: 10px;
    text-align: center;
}

#profile-picture img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.project-banner {
    background-color: #444;
    padding: 15px;
    border-radius: 8px;
    margin-top: 20px;
}

.project-banner h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #ff5722;
}

.project-list {
    list-style: none;
    padding: 0;
}

.project-list li {
    font-size: 1.2em;
    margin-bottom: 8px;
}

.project-item {
    border: 1px solid #444;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.project-item:hover {
    transform: scale(1.01);
}

.project-item .thumbnail {
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 10px;
}

.project-item .description {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.project-item.expanded {
    white-space: normal;
}

.project-item .full-description {
    display: none;
}

.project-item.expanded .full-description {
    display: block;
}

.project-item .gallery img {
    object-fit: cover;
    width: 200px;
    height: 200px;
    margin-right: 5px;
}

.pagination button {
    background-color: #444;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.pagination button:disabled {
    background-color: #888;
    cursor: not-allowed;
}

small {
    font-size: 9px;
}
